.stock-ready {
  padding-left: 24px;
  margin: 0 auto;
  width: 80vw;
}
.stock-ready h1 {
  font-weight: bold;
  color: #3d5170;
  font-size: 32px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.stock-ready .first-row {
  display: flex;
  margin-bottom: 24px;
}

.stockList {
  width: 330px;
  min-width: 330px;
  min-height: 421px;
  background-color: #fff;
  color: #3d5170;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  margin-left: 16px;
}

.stockList .listName {
  font-size: 24px;
  font-weight: bold;
  height: 46px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
}

.stock-chart {
  width: 780px;
  min-width: 780px;
  background-color: #fff;
  color: #3d5170;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  display: inline-block;
  max-height: 500px;
  overflow-y: hidden;
}
.real-chart {
  margin-bottom: 15px;
}
.stock-chart .chart-name {
  font-size: 24px;
  font-weight: bold;
  height: 46px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
}

hr {
  border: solid 1px #e1e5eb;
}

.productShow {
  padding-left: 45px;
  padding-top: 8px;
  font-size: 16px;
  color: #3d5170;
  font-weight: bold;
  width: 100%;
  position: relative;
}
.productShowSpace {
  background-color: #fbfbfb;
  padding-bottom: 8px;
}
.productNotShowSpace {
  padding-bottom: 20px;
}
.productNotShow {
  padding-left: 45px;
  padding-top: 8px;
  font-size: 16px;
  color: #818ea3;
  font-weight: 500;
  width: 100%;
  position: relative;
}

.loader_text {
  font-size: 25px;
  font-weight: 500;
  padding-top: 50px;
  padding-left: 50px;
}
