.Header {
  min-width: 825px;
  height: 60px;
  background-color: #fff;
  color: #818ea3;
  padding-left: 24px;
  font-weight: 600;
}

.other {
  font-size: 17px;
  line-height: 60px;
  vertical-align: middle;
  display: inline-block;
}

.Date {
  font-size: 21px;
  line-height: 60px;
  vertical-align: middle;
  display: inline-block;
}
