.stockTable {
  width: 1185px;
  background-color: #fff;
  color: #3d5170;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  margin-bottom: 25px;
}

.stockTable .product {
  font-size: 24px;
  font-weight: bold;
  height: 46px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
}

.stockTable .table {
  display: inline-table;
  padding-left: 5px;
  overflow: auto;
}
.table td {
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.table thead td {
  padding-top: 0;
}

.table thead {
  color: #3d5170;
  font-size: 15px;
  font-weight: 600;
  text-align: right;
}
.table tbody {
  color: #818ea3;
  font-size: 15px;
  font-weight: 600;
  text-align: right;
}
.table .c1{
  padding-left: 0;
  font-size: 15px;
  font-weight: bold;
}
.percent {
  font-weight: bold;
  text-align: center;
}
hr {
  border: solid 1px #e1e5eb;
}

.stick3 {
  vertical-align: middle;
  display: inline-block;
  width: 3px;
  height: 86px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 28px;
}

.stick1 {
  vertical-align: middle;
  width: 20px;
  height: 4px;
  border-radius: 10px;
  display: inline-block;
}

.roww{
  display: flex;
  align-items: center;
}
