.log-container {
  width: 348px;
  border-radius: 16px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.log-container .header {
  height: 88px;
  font-size: 24px;
  font-weight: 600;
  padding-top: 32px;
  text-align: center;
  color: #007bff;
}

.login-form {
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 31px;
}
.log-container fieldset {
  border: none;
  margin: 0;
}
.login-form label {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #818ea3;
  margin-bottom: 8px;
}
.login-form #login-id {
  width: 283px;
  height: 40px;
  border-radius: 8px;
  border: solid 1px #e1e5eb;
}
.login-form #login-password {
  width: 283px;
  height: 40px;
  border-radius: 8px;
  border: solid 1px #e1e5eb;
  margin-bottom: 45px;
}
.login-form label {
  margin-bottom: 8px;
}
.id-area {
  margin-bottom: 16px;
}
.login-form #bnt-submit {
  display: block;
  padding: 0;
  width: 158px;
  height: 33px;
  border-radius: 8px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 18px;
  border: none;
  margin-left: 71px;
}
