.navigation {
  width: 240px;
  height: 100vh;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.navigation .header {
  font-size: 22px;
  font-weight: 600;
  padding: 24px;
  text-align: center;
  color: #007bff;
  border-bottom: solid 1px #e1e5eb;
}

.dashboard .title {
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 2.4px;
  text-align: left;
  color: #aaacb1;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 25px;
  border-bottom: solid 1px #e1e5eb;
}

.dashboard .dash {
  font-size: 16px;
  font-weight: 500;
  color: #aaacb1;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
}
